.table {
  --table-size: min(calc(100vw - 4rem), calc(100vh - 4rem));
  --square-calc: calc((var(--table-size)) / 22);
  --square-size: max(min(var(--square-calc), 42px), 28px);
  --font-size: calc(var(--square-size) * 0.39);

  border-collapse: collapse;
  border-spacing: 0;

  font-family: "Fira Sans";

  th,
  td {
    border: 1px solid var(--tertiary);
    cursor: pointer;
  }
}

.key {
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

.typeIcon {
  font-size: var(--font-size);
  font-weight: 400;
  color: #f8fafc;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #1e293b98, 0 0 3px #1e293b4f;
  border: 1px solid #33415520;
}

.defBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: (var(--square-size));
  height: var(--square-size);
  border-radius: 4px;
}

.atkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--square-size);
  border-radius: 4px;
  padding: 0 6px;
}

.modifierBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--square-size) - 4px);
  width: calc(var(--square-size) - 4px);
  margin: 2px;
  font-size: 0.8em;
  border-radius: 4px;

  &.advantage {
    background-color: #67a722;
    color: #fef3c7;
  }

  &.disadvantage {
    background-color: #b91c1c;
    color: #fde68a;
  }

  &.immune {
    background-color: #334155;
    color: #e2e8f0;
  }
}

.highlight {
  background-color: var(--tertiary50);
  &Exact {
    background-color: var(--secondary);
  }
}

.fade {
  opacity: 0.4;
}
