@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Mono&display=swap");

:root {
  --text-primary: #0f172a;
  --text-secondary: #334155;
  --text-tertiary: #64748b;
  --text-caption: #94a3b8;

  --secondary: #cbd5e1;
  --tertiary: #e2e8f0;
  --tertiary50: #e2e8f085;

  --chart-background: #fafafa;
  --background: #fafafa;

  // Colors chosen from IBMs Data Visualization Palette
  --advantage: #4fa1fb;
  --advantage-color: black;
  --super-advantage: #25458d;

  --disadvantage: #f55e57;
  --disadvantage-color: black;
  --super-disadvantage: #8d2520;

  --immune: #f0adb0;
  --immune-color: #621916;

  --table-size: min(calc(100vw - 4rem - 8px), calc(100vh - 4rem - 8px));

  --primary-font: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --secondary-font: "Roboto Mono", monospace;
  --type-font: var(--secondary-font);
}

html,
body {
  background-color: var(--background);
  color: var(--text-tertiary);
  padding: 0;
  margin: 0;
  font-family: (var(--primary-font));
  font-size: unset;
}

body {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-secondary);
  font-weight: 600;
}

h1,
h2 {
  color: var(--text-primary);
}

h2 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

//----------------------------------#01F2DF

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.spaceBetween {
    justify-content: space-between;
  }
}

p.caption {
  color: var(--text-caption);
}

//----------------------------------#01F2DF

.ant-modal-content {
  background-color: var(--background);

  .ant-modal-header {
    background-color: var(--background);
    border-bottom-color: var(--tertiary);
  }

  .ant-modal-footer {
    background-color: var(--background);
    border-top-color: var(--tertiary);
  }
}

.ant-tooltip-inner,
.ant-popover-inner,
.ant-message-notice-content,
.ant-select-dropdown {
  background-color: var(--tertiary);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input,
.ant-checkbox-inner {
  border-color: var(--secondary);
}

.ant-modal .ant-picker-clear,
.ant-modal .ant-slider-handle,
.ant-modal .ant-anchor-wrapper,
.ant-modal .ant-collapse-content,
.ant-modal .ant-timeline-item-head,
.ant-modal .ant-card {
  background-color: var(--background);
}

.ant-timeline-item-tail {
  border-left-color: var(--tertiary);
}

.ant-timeline .ant-timeline-item:last-child .ant-timeline-item-tail {
  display: none;
}

.ant-badge-status-processing {
  position: absolute;
  overflow: visible;
}

.ant-btn {
  border-color: var(--tertiary);
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-color: var(--tertiary);
}

.ant-tabs-tab {
  &.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--orange-text);
  }
  &:hover {
    color: var(--text-primary);
  }
}

.ant-tabs-ink-bar {
  background-color: var(--orange-text);
}
