.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(var(--table-size) - 24px);

  margin-bottom: 0.6rem;

  &.empty {
    color: var(--text-caption);
    font-size: 0.8em;
  }
}

.miniContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.attacking {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 0.1rem 0.4rem;
  transition: background 0.2s;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--tertiary);
  }
}

.type {
  text-transform: capitalize;
}

.sword {
  &::after {
    content: "⚔️";
  }
}
.shield {
  &::after {
    content: "🛡";
  }
}
.sword,
.shield {
  &:hover::after {
    content: "💾";
    cursor: pointer;
  }
}

.advantage {
  color: var(--advantage);
  &.super {
    color: var(--super-advantage);
  }
}

.disadvantage {
  color: var(--disadvantage);
  &.super {
    color: var(--super-disadvantage);
  }
}

.immune {
  color: var(--immune);
}

@media only screen and (max-width: 600px) {
  .empty {
    line-height: 1.2em;
  }
}
