.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: var(--table-size);

  margin-bottom: 0.6rem;

  &.empty {
    color: var(--text-caption);
  }
}

.miniContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.attacking {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 0.1rem 0.4rem;
  transition: background 0.2s;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--tertiary);
  }
}

.type {
  text-transform: capitalize;
}

.advantage {
  color: #65a30d;
  &.super {
    color: #2563eb;
  }
}

.disadvantage {
  color: #b91c1c;
  &.super {
    color: #7e22ce;
  }
}

.immune {
  color: #94a3b8;
}
